/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #333;
    background-color: #f3f6f9;
}

h1, h2 {
    color: #2a2e37;
}

header {
    background: #5bc0de;
    padding: 20px 0;
    position: relative;
    text-align: center;
}

header .logo h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
}

header .logo span {
    color: #ffde59;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 10%;
    background-color: #5bc0de; 
}

nav .logo {
    width: 160px; 
    height: auto; 
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    justify-content: space-between;
    width: 50%;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background 0.3s;
    font-size: 18px;
    
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 152, 111, 0.3);
    transform: scale(1.1);
}


.hero-text {
    margin-top: 40px;
}

.hero-text h1 {
    font-size: 3rem;
    color: white;
}

.hero-text p {
    color: white;
    font-size: 1.2rem;
    margin-top: 10px;
}

.info-card img {
    width: 80%; 
    max-width: 150px;
    height: auto;
    margin-bottom: 20px; 
}


main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 60px 0;
}

.info-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 300px;
    margin: 20px;
    text-align: center;
}

.info-card h2 {
    font-size: 1.8rem;
    color: #2a2e37;
    margin-bottom: 20px;
}

.info-card p {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 20px;
}

.info-card ul {
    list-style-type: none;
}

.info-card ul li {
    font-size: 1rem;
    color: #2a2e37;
    margin-bottom: 10px;
}

footer {
    background: #2a2e37;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    font-size: 1rem;
}

/* Hover effects */
.info-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
